/*Price Range*/


.filter-price {
    /*    width: 220px;*/
    border: 0;
    padding: 0;
    margin: 0;
}



.price-field {
    position: relative;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-top: 24px;
    border-radius: 3px;
}

.price-field input[type=range] {
    position: absolute;
}

/* Reset style for input range */

.price-field input[type=range] {
    width: 100%;
/*    width: 160px;*/
    padding-left: 35px;
    height: 1px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
    outline: 0;
}

.price-field input[type=range]::-ms-track {
    width: 150px;
    height: 1px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb {
    /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: lightgray;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb {
    /* Firefox */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #fff;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-ms-thumb {
    /* IE */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: black;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track {
    /* WebKit/Blink */
    width: 160px;
    height: 1px;
    cursor: pointer;
    background: lightgray;
    border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
    /* Firefox */
    width: 150px;
    height: 1px;
    cursor: pointer;
    background: black;
    border-radius: 5px;
}

.price-field input[type=range]::-ms-track {
    /* IE */
    width: 150px;
    height: 1px;
    cursor: pointer;
    background: black;
    border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
    display: flex;
    color: gray;

    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
    padding-left: 65px;

}



.price-wrap-1 label {
    margin-bottom: 4px;
    font-weight: 600;
}

.price-wrap-2 label {
    margin-bottom: 4px;
    font-weight: 600;

}


.price-wrap_line {
    margin: 0 5px;
}

.price-wrap #one,
.price-wrap #two {
    width: 30px;
    /*    text-align: left;*/
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    outline: 0;
    color: gray;
    font-size: 12px;
    /*    line-height: 1.2em;*/
    font-weight: 400;
}

.priceRangeTo {
    margin-left: 15px;
}


/* Style for active state input */

.price-field input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #fff;
    transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #fff;
    transition-duration: 0.3s;
}

