@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Auth", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink(User.Identity.Name, "Index", "Account")
    }
}
else
{
    <a href="@Url.Action("Login", "Auth")"><i class="pe-7s-users"></i></a>
}
